body{
    background-color: green;
}

#gameScreen{
            border: 1px solid black;
        }

        #menu, #levels{
            visibility: hidden;
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 800px;
            height: 600px;
            z-index: 8;
            position: absolute;
        }

        button{
            border: 1px solid white;
            background-color: black;
            border-radius: 8px;
            color: white;
            padding: 16px 8px;
            font-size: 26px;
            margin: 10px;
            cursor: pointer;
        }
        #returnToMenu{
            visibility: hidden;
            position: absolute;
            left: 810px;
            top: 20px;
        }
